{% extends "shop/base.html" %}
{% load static %}
{% load filters %}
{% block title%}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<body>
    <div class="block__sidebar_phone">
        <div class="container sidebar__category">
            <p>{{ category.name }}</p>
        </div>
        <div class="sidebar__list">
            <button class="sidebar__sort_phone">
                Показать
            </button>
            <button class="sidebar__filter_phone">
                Фильтры
            </button>
        </div>
    </div>

    <div class="container block__sidebar">
        <div class="sidebar__category">
            <p>{{ category.name }}</p>
        </div>
        <ul class="sidebar__list">
            <li class="sidebar__filter">
                <p style = "color: #767676;"> Фильтры
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10" class="filter__button">
                        <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
                    </svg>
                </p>
                
                    {% if category.slug == 'summer_workwear' %}
                    <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                        {% include 'shop/category/summer_workwear_filter.html' %}
                    </form>
                    {% elif category.slug == 'winter_workwear' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/winter_workwear_filter.html' %}
                        </form>
                    {% elif category.slug == 'medical_workwear' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/medical_workwear_filter.html' %}
                        </form>
                    {% elif category.slug == 'clothing_for_the_service_sector' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/clothing_for_the_service_sector_filter.html' %}
                        </form>
                    {% elif category.slug == 'protective_clothing_of_security_structures' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/protective_clothing_of_security_structures_filter.html' %}
                        </form>
                    {% elif category.slug == 'special_workwear' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/special_workwear_filter.html' %}
                        </form>
                    {% elif category.slug == 'signal_workwear' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/signal_workwear_filter.html' %}
                        </form>
                    {% elif category.slug == 'protective_protective_workwear' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/protective_protective_workwear_filter.html' %}
                        </form>
                    {% elif category.slug == 'clothing_for_hunting_and_fishing' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/clothing_for_hunting_and_fishing_filter.html' %}
                        </form>
                    {% elif category.slug == 'knitwearg' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/knitwearg_filter.html' %}
                        </form>
                    {% elif category.slug == 'hats' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/hats_filter.html' %}
                        </form>
                    {% elif category.slug == 'summer_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/summer_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'insulated_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/insulated_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'special_insulated_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/special_insulated_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'pvc_rubber_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/pvc_rubber_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'casual_walking_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/casual_walking_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'medical_shoes' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/medical_shoes_filter.html' %}
                        </form>
                    {% elif category.slug == 'medical_supplies' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/medical_supplies_filter.html' %}
                        </form>
                    {% elif category.slug == 'head_and_face_protection_products' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/head_and_face_protection_products_filter.html' %}
                        </form>
                    {% elif category.slug == 'means_of_protection_of_the_organs_of_vision' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/means_of_protection_of_the_organs_of_vision_filter.html' %}
                        </form>
                    {% elif category.slug == 'protective_equipment_during_welding_operations' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/protective_equipment_during_welding_operations_filter.html' %}
                        </form>
                    {% elif category.slug == 'hearing_protection_equipment' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/hearing_protection_equipment_filter.html' %}
                        </form>
                    {% elif category.slug == 'respiratory_protection_equipment' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/respiratory_protection_equipment_filter.html' %}
                        </form>
                    {% elif category.slug == 'protective_equipment_during_highrise_works' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/protective_equipment_during_highrise_works_filter.html' %}
                        </form>
                    {% elif category.slug == 'clothing_with_limited_service_life' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/clothing_with_limited_service_life_filter.html' %}
                        </form>
                    {% elif category.slug == 'dielectric_safety_devices' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/dielectric_safety_devices_filter.html' %}
                        </form>
                    {% elif category.slug == 'knitted_gloves' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/knitted_gloves_filter.html' %}
                        </form>
                    {% elif category.slug == 'wool_blend_gloves' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/wool_blend_gloves_filter.html' %}
                        </form>
                    {% elif category.slug == 'split_gloves_combined' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/split_gloves_combined_filter.html' %}
                        </form>
                    {% elif category.slug == 'kragi_vachegi' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/kragi_vachegi_filter.html' %}
                        </form>
                    {% elif category.slug == 'specialized_gloves' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/specialized_gloves_filter.html' %}
                        </form>
                    {% elif category.slug == 'household_gloves_disposable' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/household_gloves_disposable_filter.html' %}
                        </form>
                    {% elif category.slug == 'working_gloves' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/working_gloves_filter.html' %}
                        </form>
                    {% elif category.slug == 'insulated_mittens' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/insulated_mittens_filter.html' %}
                        </form>
                    {% elif category.slug == 'medical_supplies' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/medical_supplies_filter.html' %}
                        </form>
                    {% elif category.slug == 'dermatological_agents' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/dermatological_agents_filter.html' %}
                        </form>
                    {% elif category.slug == 'technical_fabrics' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/technical_fabrics_filter.html' %}
                        </form>
                    {% elif category.slug == 'detergents_and_household_chemicals' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/detergents_and_household_chemicals_filter.html' %}
                        </form>
                    {% elif category.slug == 'firefighting_equipment_fire_extinguishers' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/firefighting_equipment_fire_extinguishers_filter.html' %}
                        </form>
                    {% elif category.slug == 'protective_equipment' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/protective_equipment_filter.html' %}
                        </form>
                    {% elif category.slug == 'household_goods' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/household_goods_filter.html' %}
                        </form>
                    {% elif category.slug == 'snow_removal_equipment' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/snow_removal_equipment_filter.html' %}
                        </form>
                    {% elif category.slug == 'gardening_tools' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/gardening_tools_filter.html' %}
                        </form>
                    {% elif category.slug == 'bristle_and_brush_products' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/bristle_and_brush_products_filter.html' %}
                        </form>
                    {% elif category.slug == 'bed_linen_sets' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/bed_linen_sets_filter.html' %}
                        </form>
                    {% elif category.slug == 'mattresses' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/mattresses_filter.html' %}
                        </form>
                    {% elif category.slug == 'blankets' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/blankets_filter.html' %}
                        </form>
                    {% elif category.slug == 'pillows' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/pillows_filter.html' %}
                        </form>
                    {% elif category.slug == 'bedspreads_blankets' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/bedspreads_blankets_filter.html' %}
                        </form>
                    {% elif category.slug == 'waffle_towels' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/waffle_towels_filter.html' %}
                        </form>
                    {% elif category.slug == 'terry_towels' %}
                        <form class="sidebar__list_filter" action="{% url 'shop:category_detail' category.slug%}" method="get">
                            {% include 'shop/category/terry_towels_filter.html' %}
                        </form>
                    {% endif %}
            </li>
        <li class="sidebar__reveal">
            <p  style = "color: #767676;"> 
                Показать 
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10" class="reveal__button">
                    <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
                </svg>
            </p>
            <ul class="sidebar__list_reveal">
                <li>По 15</li>
                <li>По 30</li>
                <li>По 45</li>
                <li>Все</li>
            </ul>
        </li>
    </div>
    
    <div class="container block__select-filter"></div>
    
    <div  class="container block__card container__catalog">
        {% for product in products %}
        <div id="{{ product.id }}" class="card card__product">
            <div class="card__img">
            
                {% for key,value in img_url.items  %}
                    {% if key == product.name %}
                        <img src="{{value.0}}" alt="1">
                        <div class="quickly__preview">
                            <p class="quickly__preview_button">Быстрый просмотр</p>
                        </div>   
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card__text">
                <a href="{% url 'shop:product_detail' ct_model=category.slug slug=product.slug %}"><p class="card__text_name">{{ product.name }}</p></a>
                <p class="card__text_article">Артикул: {{ product.article }}</p>
                <p class="card__text_low">    
                    {{ product.price }} Р
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <div class="container block__page">
        <div class="page__prev">
            {% if products.has_previous %}
            <svg class="arrow_prev" xmlns="http://www.w3.org/2000/svg" width="8" height="10" fill="none" viewBox="0 0 8 10">
                <path fill="#3F3F3F" d="M7.084 8.833L3.251 5l3.833-3.833L5.917 0l-5 5 5 5 1.167-1.167z"/>
            </svg>
            <a href="?page={{products.previous_page_number}}">Назад</a>
            {% endif %}
        </div>
        <ul class="page__list">
            {% if products.has_previous %}
                <li class="select_page"><a href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
            {% endif %}
            <li class="select_page"><a href="?page={{ products.number }}">{{ products.number }}</a></li>
            {% if products.has_next %}        
            <li><a href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a></li>
            {% endif %}
        </ul>
        <div class="page__next">
            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Далее</a>
            <svg class="arrow_next" xmlns="http://www.w3.org/2000/svg" width="8" height="10" fill="none" viewBox="0 0 8 10">
                <path fill="#3F3F3F" d="M.916 1.167L4.749 5 .916 8.833 2.083 10l5-5-5-5L.916 1.167z"/>
            </svg>
            {% endif %}
        </div>
    </div>
    
    {% for product in products %}
    <div id="tr_{{ product.id }}" class="block__preview">
        <div class="container container__product_preview">
            <div class="block__product_preview block__product_preview_first">
                {% for key,value in img_url.items  %}
                    {% if key == product.name %}
                    <img src="{{value.0}}" alt="1">          
                    {% endif %}
                {% endfor %}
            </div>
            <div class="block__product_preview block__product_preview_second">
                <div class="block__product_preview_second-top">
                    <div class="close_preview">
                        Закрыть
                    </div>
                    <div class="block__product_preview_second-top_name">
                        {{ product.name }}
                    </div>
                    <div class="block__product_preview_second-top_price">
                        {{ product.price }} Р
                    </div>
                </div>
                <div class="block__product_preview_second-center">
                    <div class="block__product_preview_second-center_size">
                        <p>Размер</p>
                       <p>{{ product.size|linebreaksbr }}</p>
                    </div>
                    <div class="block__product_preview_second-center_info">
                        <p class="open-size">
                            Таблица размеров
                        </p>
                    </div>
                    <div class="block__product_preview_second-center_choice">
                        <p class="choice-size">
                            Выбрать размер
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" fill="none" viewBox="0 0 7 11">
                                <path fill="#4C95BD" d="M0 1.283L3.907 5.5 0 9.717 1.19 11l5.096-5.5L1.189 0 0 1.283z"/>
                            </svg>
                        </p>
                    </div>
                </div>
                <div class="block__product_preview_second-bottom">
                    <div class="block__product_preview_second-bottom_button-append">
                        Добавить в корзину
                    </div>
                    <div class="block__product_preview_second-bottom_ability">
                        Возможно нанесение логотипа
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% for product in products %}
    <div class="block__append-to-card" id="size_{{ product.id }}">
        <form action="">
            <div class="container__append-to-card">
                <div class="block__append-to-card_title">
                    <p>
                        Выберите кол-во
                    </p>
                    <p class="close">
                        Закрыть
                    </p>
                </div>
                {% for key,value in size.items  %}
                    {% if key == product.name %}
                        {% if '-' not in value %}
                        <div class="counter_block">
                            {% for item in value %}
                                <div class="block__append-to-card_counter">
                                    <div class="counter_size">
                                    {{ item }}
                                    </div>
                                    <div class="counter_price" id="{{ item }}">
                                            <div class="counter">
                                                <p class="minus">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="2" fill="none" viewBox="0 0 12 2">
                                                        <path fill="#767676" d="M12 .25H0v1.5h12V.25z"/>
                                                    </svg>
                                                </p>
                                                <input class="count" type="text" value="0">
                                                <p class="plus">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
                                                        <path fill="#3F3F3F" d="M6.749 5.251V0H5.25v5.251H0V6.75h5.251V12H6.75V6.749H12V5.25H6.749z"/>
                                                    </svg>
                                                </p>
                                            </div>
                                            <p>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" fill="none" viewBox="0 0 8 10">
                                                    <path fill="#3F3F3F" d="M8 2.837H0v1.25h8v-1.25zM8 5.385H0v1.25h8v-1.25z"/>
                                                </svg>
                                            </p>
                                        <p class="end_price_product">
                                            0 Р
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}     
                <div class="block__append-to-card_bottom">
                    <button>
                        <a href="">
                            Добавить в корзину
                         </a>
                    </button>
                    <div class="end-price">
                        0 Р
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
    <div class="block__size">
        <div class="container__size">
            <div class="block__size_title">
                <p>
                    Типовые размеры
                </p>
                <p class="close">
                    Закрыть
                </p>
            </div>
            <div class="block__size_content">
                <hr>
                <div class="size_content_men">
                    <p class="size_content_title">
                        Мужская одежда
                    </p>
                    <div class="size_content_men_table">
                        <p>
                            Стандартные размеры
                        </p>
                        <div class="size_content_men_table-first">
                            <ul>
                                <li>88-92/170-176</li>
                                <li>88-92/182-188</li>
                                <li>96-100/170-176</li>
                                <li>96-100/182-188</li>
                                <li>104-108/170-176</li>
                                <li>104-108/182-188</li>
                                <li>112-116/170-176</li>
                                <li>112-116/182-188</li>
                                <li>120-124/170-176</li>
                                <li>120-124/182-188</li>
                            </ul>
                            <ul>
                                <li>44-46/3-4</li>
                                <li>44-46/5-6</li>
                                <li>48-50/3-4</li>
                                <li>48-50/5-6</li>
                                <li>52-54/3-4</li>
                                <li>52-54/5-6</li>
                                <li>56-58/3-4</li>
                                <li>56-58/5-6</li>
                                <li>60-62/3-4</li>
                                <li>60-62/5-6</li>
                            </ul>
                        </div>
                        <p>
                            Типовые фигуры мужчин
                        </p>
                        <div class="size_content_men_table-second">
                            <ul>
                                <li>Размер</li>
                                <li>Обхват груди (см)</li>
                                <li>Обхват талии (см)</li>
                                <li>Рост (см)</li>
                            </ul>
                            <ul>
                                <li>88-92</li>
                                <li>88-92</li>
                                <li>72-76</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                            <ul>
                                <li>96-100</li>
                                <li>96-100</li>
                                <li>80-84</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                            <ul>
                                <li>104-108</li>
                                <li>104-108</li>
                                <li>88-92</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                            <ul>
                                <li>112-116</li>
                                <li>112-116</li>
                                <li>96-100</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                            <ul>
                                <li>120-124</li>
                                <li>120-124</li>
                                <li>104-108</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="size_content_women">
                    <p>
                        Женская одежда
                    </p>
                    <div class="size_content_women_table">
                        <p>
                            Стандартные размеры
                        </p>
                        <div class="size_content_women_table-first">
                            <ul>
                                <li>88-92/158-164</li>
                                <li>88-92/170-176</li>
                                <li>96-100/158-164</li>
                                <li>96-100/170-176</li>
                                <li>104-108/158-164</li>
                                <li>104-108/170-176</li>
                                <li>112-116/158-164</li>
                                <li>112-116/170-176</li>
                                <li>120-124/158-164</li>
                                <li>120-124/170-176</li>
                            </ul>
                            <ul>
                                <li>44-46/3-4</li>
                                <li>44-46/5-6</li>
                                <li>48-50/3-4</li>
                                <li>48-50/5-6</li>
                                <li>52-54/3-4</li>
                                <li>52-54/5-6</li>
                                <li>56-58/3-4</li>
                                <li>56-58/5-6</li>
                                <li>60-62/3-4</li>
                                <li>60-62/5-6</li>
                            </ul>
                        </div>
                        <p>
                            Типовые фигуры мужчин
                        </p>
                        <div class="size_content_women_table-second">
                            <ul>
                                <li>Размер</li>
                                <li>Обхват груди (см)</li>
                                <li>Обхват талии (см)</li>
                                <li>Рост (см)</li>
                            </ul>
                            <ul>
                                <li>88-92</li>
                                <li>88-92</li>
                                <li>94-98</li>
                                <li>
                                    158-164
                                    170-176
                                </li>
                            </ul>
                            <ul>
                                <li>96-100</li>
                                <li>96-100</li>
                                <li>102-106</li>
                                <li>
                                    158-164
                                    170-176
                                </li>
                            </ul>
                            <ul>
                                <li>104-108</li>
                                <li>104-108</li>
                                <li>110-114</li>
                                <li>
                                    158-164
                                    170-176
                                </li>
                            </ul>
                            <ul>
                                <li>112-116</li>
                                <li>112-116</li>
                                <li>118-122</li>
                                <li>
                                    158-164
                                    170-176
                                </li>
                            </ul>
                            <ul>
                                <li>120-124</li>
                                <li>120-124</li>
                                <li>126-132</li>
                                <li>
                                    158-164
                                    170-176
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="size_content_shoes">
                    <p>
                        Обувь
                    </p>
                    <div class="size_content_shoes_table">
                        <p>
                            Мужская
                        </p>
                        <div class="size_content_shoes_table-first">
                            <ul>
                                <li>Размер</li>
                                <li>Длина стопы (см)</li>
                            </ul>
                            <ul>
                                <li>39</li>
                                <li>247</li>
                            </ul>
                            <ul>
                                <li>40</li>
                                <li>255</li>
                            </ul>
                            <ul>
                                <li>41</li>
                                <li>262</li>
                            </ul>
                            <ul>
                                <li>42</li>
                                <li>270</li>
                            </ul>
                            <ul>
                                <li>43</li>
                                <li>277</li>
                            </ul>
                            <ul>
                                <li>44</li>
                                <li>285</li>
                            </ul>
                            <ul>
                                <li>45</li>
                                <li>292</li>
                            </ul>
                            <ul>
                                <li>46</li>
                                <li>300</li>
                            </ul>
                        </div>
                        <p>
                            Женская
                        </p>
                        <div class="size_content_shoes_table-second">
                            <ul>
                                <li>Размер</li>
                                <li>Длина стопы (см)</li>
                            </ul>
                            <ul>
                                <li>35</li>
                                <li>225</li>
                            </ul>
                            <ul>
                                <li>36</li>
                                <li>232</li>
                            </ul>
                            <ul>
                                <li>37</li>
                                <li>240</li>
                            </ul>
                            <ul>
                                <li>38</li>
                                <li>247</li>
                            </ul>
                            <ul>
                                <li>39</li>
                                <li>255</li>
                            </ul>
                            <ul>
                                <li>40</li>
                                <li>262</li>
                            </ul>
                        </div>
                        <p>
                            Валенки
                        </p>
                        <div class="size_content_shoes_table-third">
                            <ul>
                                <li>35</li>
                                <li>23</li>
                            </ul>
                            <ul>
                                <li>36</li>
                                <li>24</li>
                            </ul>
                            <ul>
                                <li>37</li>
                                <li>25</li>
                            </ul>
                            <ul>
                                <li>38</li>
                                <li>26</li>
                            </ul>
                            <ul>
                                <li>39</li>
                                <li>27</li>
                            </ul>
                            <ul>
                                <li>40</li>
                                <li>28</li>
                            </ul>
                            <ul>
                                <li>41</li>
                                <li>29</li>
                            </ul>
                            <ul>
                                <li>42</li>
                                <li>30</li>
                            </ul>
                        </div>
                        <p>
                            Мужские носки
                        </p>
                        <div class="size_content_shoes_table-four">
                            <ul>
                                <li>25</li>
                                <li>27</li>
                                <li>29</li>
                                <li>39</li>
                            </ul>
                            <ul>
                                <li>39-40</li>
                                <li>41-42</li>
                                <li>43-44</li>
                                <li>45-46</li>
                            </ul>
                            <ul>
                                <li>24-26</li>
                                <li>26-28</li>
                                <li>28-30</li>
                                <li>30-32</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="size_content_shirt">
                    <p>
                        Сорчки и рубашки
                    </p>
                    <div class="size_content_shirt_table">
                        <div class="size_content_shirt_table-first">
                            <ul>
                                <li>Размер по вороту</li>
                                <li>38</li>
                                <li>39</li>
                                <li>40</li>
                                <li>41</li>
                                <li>42</li>
                                <li>43</li>
                                <li>44</li>
                                <li>45</li>
                                <li>46</li>
                            </ul>
                            <ul>
                                <li>Обхват груди (см)</li>
                                <li>88</li>
                                <li>92</li>
                                <li>96</li>
                                <li>100</li>
                                <li>104</li>
                                <li>108</li>
                                <li>112</li>
                                <li>116</li>
                                <li>120</li>
                            </ul>
                            <ul>
                                <li>Рост (см)</li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                                <li>
                                    170-176
                                    182-188
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="size_content_tee">
                    <p>
                        Футболки
                    </p>
                    <div class="size_content_tee_table">
                        <div class="size_content_tee_table-first">
                            <ul>
                                <li>S</li>
                                <li>44-46</li>
                            </ul>
                            <ul>
                                <li>M</li>
                                <li>46-48</li>
                            </ul>
                            <ul>
                                <li>L</li>
                                <li>48-50</li>
                            </ul>
                            <ul>
                                <li>XL</li>
                                <li>52-54</li>
                            </ul>
                            <ul>
                                <li>XXL</li>
                                <li>56-58</li>
                            </ul>
                            <ul>
                                <li>XXXL</li>
                                <li>60-62</li>
                            </ul>
                        </div>  
                    </div>
                </div>
                <hr>
                <div class="size_content_glove">
                    <p>
                        Перчатки
                    </p>
                    <div class="size_content_glove_table">
                        <div class="size_content_glove_table-first">
                            <ul>
                                <li>S</li>
                                <li>7</li>
                            </ul>
                            <ul>
                                <li>M</li>
                                <li>8</li>
                            </ul>
                            <ul>
                                <li>L</li>
                                <li>9</li>
                            </ul>
                            <ul>
                                <li>XL</li>
                                <li>10</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
<form action="">
    <div class="block__filter_phone">
        <ul class="sidebar__list_filter_phone">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li class="sidebar__list_filter_first">
                Защитные свойства
            </li>
            <hr>
            <li class="sidebar__list_filter_second">  
                Комплектность
            </li>
            <hr>
            <li class="sidebar__list_filter_third">
                Состав
            </li>
            <hr>
            <li class="sidebar__list_filter_fourth">
                Класс защиты
            </li>
            <hr>
            <button class="accept-filter">Применить фильтры</button>
        </ul>
    </div>

    <div class="block__filter_one">
        <ul class="filter_first_one-content-phone filter">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li id="f1-1">Кислоты</li>
            <hr>
            <li id="f1-2">Вредные биологические факторы</li>
            <hr>
            <li id="f1-3">Искры, брызги расплавленного металла</li>
            <hr>
            <li id="f1-4">Общие производственные загрязнения</li>
            <hr>
            <li id="f1-5">Тепловое излучение</li>
            <hr>
            <li id="f1-6">Вибрация</li>
            <hr>
            <li id="f1-7">Нагретые поверхности</li>
            <hr>
            <li id="f1-8">Статическое электричество</li>
            <hr>
            <button class="accept-filter">Применить фильтры</button>
        </ul>
    </div>

    <div class="block__filter_two">
        <ul class="filter_first_two-content-phone filter">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li id="f2-1">Куртка</li>
            <hr>
            <li id="f2-2">Брюки</li>
            <hr>
            <li id="f2-3">Полукомбинезон</li>
            <hr>
            <li id="f2-4">Комбинезон</li>
            <hr>
            <li id="f2-5">Жилет</li>
            <hr>
            <li id="f2-6">Халат</li>
            <hr>
            <li id="f2-7">Костюм</li>
            <hr>
            <button class="accept-filter">Применить фильтры</button>
        </ul>
    </div>
    
    <div class="block__filter_four">
        <ul class="filter_first_four-content-phone filter">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li id="f3-1">65%ПЭ/35%ХБ</li>
            <hr>
            <li id="f3-2">80%ХБ/20%ПЭ,антист.нить</li>
            <hr>
            <li id="f3-3">95%ХБ/5%ПА, антистатическая нить</li>
            <hr>
            <li id="f3-4">100% ПЭ</li>
            <hr>
            <li id="f3-5">100% ХБ</li>
            <hr>
            <li id="f3-6">23%ХБ 77%ПЭ</li>
            <hr>
            <li id="f3-7">53%ХБ 47%ПЭ</li>
            <hr>
            <li id="f3-8">35%ХБ 65%ПЭ</li>
            <hr>
            <li id="f3-9">33%ХБ 67%ПЭ</li>
            <hr>
            <li id="f3-10">60%ХБ/40%ПЭ</li>
            <hr>
            <li id="f3-11">80%ХБ/20%ПЭ</li>
            <hr>
            <li id="f3-12">20%ХБ/80%ПЭ</li>
            <hr>
            <li id="f3-13">51%ХБ 49%ПЭ</li>
            <hr>
            <li id="f3-14">100% ПА</li>
            <hr>
            <li id="f3-15">80%ПЭ/20%ХБ</li>
            <hr>
            <button class="accept-filter">Применить фильтры</button>
        </ul>
    </div>
    
    <div class="block__filter_three">
        <ul class="filter_first_three-content-phone filter">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li id="f4-1">2  класс</li>
            <hr>
            <li id="f4-2">3</li>
            <hr>
            <li id="f4-3">1</li>
            <hr>
            <li id="f4-4">1-2</li>
            <hr>
            <button class="accept-filter">Применить фильтры</button>
        </ul>
    </div>
</form>

    <div class="block__sort_phone">
        <ul class="sidebar__list_sort">
            <div class="close_phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" fill="none" viewBox="0 0 10 14">
                    <path fill="#767676" d="M9.316 12.367L3.95 7l5.366-5.367L7.683 0l-7 7 7 7 1.633-1.633z"/>
                </svg>
                <p>
                    Назад
                </p>
            </div>
            <hr>
            <li>По 15</li>
            <hr>
            <li>По 30</li>
            <hr>
            <li>По 45</li>
            <hr>
            <li>Все</li>
            <hr>
        </ul>
    </div>
</body>

{% endblock %}