
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1">Шапочка</li>
        <li id="f2-2">Козырёк</li>
        <li id="f2-3">Кепка</li>
        <li id="f2-4">Шапка</li>
        <li id="f2-5">Шляпа</li>
        <li id="f2-6">Подшлемник</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1">35%виск.65%ПЭ; 100%ПЭ</li>
        <li id="f3-2">70% ПАН/30% шерсть</li>
        <li id="f3-3">натуральная кожа (спилок)</li>
        <li id="f3-4">100% ПЭ</li>
        <li id="f3-5">100% ХБ</li>
        <li id="f3-6">23%ХБ 77%ПЭ</li>
        <li id="f3-7">53%ХБ 47%ПЭ</li>
        <li id="f3-8">35%ХБ 65%ПЭ</li>
        <li id="f3-9">100% Акрил</li>
        <li id="f3-10">30% шерсть 70% ПАН</li>
    </ul>
</ul>