
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Подкатегория
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1">Беруши противошумные</li>
        <li id="f1-2">Наушники противошумные</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Особенности 
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1">Без корда</li>
        <li id="f2-2">Для диспенсера</li>
        <li id="f2-3">На ободке</li>
        <li id="f2-4">С кордом</li>
        <li id="f2-5">Стандартное оголовье</li>
        <li id="f2-6">С креплением на каску</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Вид изделия
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1">Наушники блокирующие шум</li>
        <li id="f3-2">Наушники с избирательным шумоподавлением</li>
        <li id="f3-3">Наушники со встроенным радио</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Защитные свойства
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1">Шумоподавление 23-27дБ</li>
        <li id="f4-2">Шумоподавление 28-32дБ</li>
        <li id="f4-3">Шумоподавление 33-37дБ</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    