
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Подкатегория
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1" class="sub_category">Защитные очки закрытого типа</li>
        <li id="f1-2" class="sub_category">Защитные очки открытого типа</li>
        <li id="f1-3" class="sub_category">Акссесуары для оптики</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1" class="product_type">Очки защитные с прямой вентиляцией</li>
        <li id="f2-2" class="product_type">Очки защитные с непрямой вентиляцией</li>
        <li id="f2-3" class="product_type">Очки защитные герметичные</li>
        <li id="f2-4" class="product_type">Очки защитные для газосварочных работ</li>
        <li id="f2-5" class="product_type">Очки защитные открытого типа</li>
        <li id="f2-6" class="product_type">Комплектующие к очкам</li>
        <li id="f2-7" class="product_type">Аксессуары</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Покрытие линз
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1" class="lens_coating">Покрытие против царапин и запотевания (AF/AS)</li>
        <li id="f3-2" class="lens_coating">Покрытие против запотевания (AF)</li>
        <li id="f3-3" class="lens_coating">Покрытие Vanguard UDC</li>
        <li id="f3-4" class="lens_coating">Покрытие Vanguard PLUS</li>
        <li id="f3-5" class="lens_coating">Покрытие против царапин (AS)</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Защитные свойства
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1" class="protective_properties">От механических воздействий</li>
        <li id="f4-2" class="protective_properties">От лазерного излучения</li>
        <li id="f4-3" class="protective_properties">При проведении газосварочных работ</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    