
<ul class="sidebar__list_filter_first">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f1-1" class="product_type">костюм</li>
        <li id="f1-2" class="product_type">брюки </li>
        <li id="f1-3" class="product_type">халат</li>
        <li id="f1-4" class="product_type">блузки</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f2-1" class="сomposition">55%ХБ 45%ПЭ</li>
        <li id="f2-2" class="сomposition">35%виск.65%ПЭ</li>
        <li id="f2-3" class="сomposition">35%ХБ 65%ПЭ</li>
        <li id="f2-4" class="сomposition">53%ХБ44%ПЭ3%лайкра</li>
        <li id="f2-5" class="сomposition">55% хлопок, 45%ПЭ</li>
        <li id="f2-6" class="сomposition">55%ХБ 45%ПЭ</li>
        <li id="f2-7" class="сomposition">33%ХБ 67%ПЭ</li>
        <li id="f2-8" class="сomposition">60%ХБ/40%ПЭ</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>