<ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1">Страховка Зм</li>
        <li id="f1-2">Страховка Vento</li>
        <li id="f1-3">Страховка BodyGuard</li>
        <li id="f1-4">Страховка Honeywell</li>
        <li id="f1-5">Страховка Ампаро</li>
        <li id="f1-6">Страховка Россия</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1">Блокирующие устройство</li>
        <li id="f2-2">Анкерная линия</li>
        <li id="f2-3">Страховочная привязь</li>
        <li id="f2-4">Анкерное устройство</li>
        <li id="f2-5">Карабин</li>
        <li id="f2-6">Привязь</li>
        <li id="f2-7">Средства защиты втягивающего типа</li>
        <li id="f2-8">Строп</li>
        <li id="f2-9">Строп с амортизатором</li>
        <li id="f2-10">Удерживающая привязь</li>
        <li id="f2-11">Соединительные элементы</li>
        <li id="f2-12">Гибкая анкерная линия</li>
        <li id="f2-13">Специальное снаряжение</li>
        <li id="f2-14">Страховочные системы</li>
        <li id="f2-15">Вспомогательное оборудование</li>
        <li id="f2-16">Строительные пояса</li>
        <li id="f2-17">Когти, Лазы</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Особенности
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1">Без пояса</li>
        <li id="f3-2">1 рабочее плечо</li>
        <li id="f3-3">2 рабочих плеча</li>
        <li id="f3-4">Регулируемый</li>
        <li id="f3-5">Регулировка по длине ползункового типа</li>
        <li id="f3-6">С поясом</li>
        <li id="f3-7">1 точка крепления</li>
        <li id="f3-8">2 точки крепления</li>
        <li id="f3-9">3 точки крепления</li>
        <li id="f3-10">4 точки крепления</li>
        <li id="f3-11">5 точек крепления</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head">
        Защитные свойства
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1">Для безопасной оставки падения</li>
        <li id="f4-2">для позиционирования</li>
        <li id="f4-3">Огнеупорный</li>
        <li id="f4-4">Страховочный</li>
        <li id="f4-5">Удерживающий</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    