<ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Подкатегория
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1"><label><input type="checkbox" name="sub_category" value="Страховка Зм">Страховка Зм</label></li>
        <li id="f1-2"><label><input type="checkbox" name="sub_category" value="Страховка Vento">Страховка Vento</label></li>
        <li id="f1-3"><label><input type="checkbox" name="sub_category" value="Страховка BodyGuard">Страховка BodyGuard</label></li>
        <li id="f1-4"><label><input type="checkbox" name="sub_category" value="Страховка Honeywell">Страховка Honeywell</label></li>
        <li id="f1-5"><label><input type="checkbox" name="sub_category" value="Страховка Ампаро">Страховка Ампаро</label></li>
        <li id="f1-6"><label><input type="checkbox" name="sub_category" value="Страховка Россия">Страховка Россия</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1"><label><input type="checkbox" name="product_type" value="Блокирующие устройство">Блокирующие устройство</label></li>
        <li id="f2-2"><label><input type="checkbox" name="product_type" value="Анкерная линия">Анкерная линия</label></li>
        <li id="f2-3"><label><input type="checkbox" name="product_type" value="Страховочная привязь">Страховочная привязь</label></li>
        <li id="f2-4"><label><input type="checkbox" name="product_type" value="Анкерное устройство">Анкерное устройство</label></li>
        <li id="f2-5"><label><input type="checkbox" name="product_type" value="Карабин">Карабин</label></li>
        <li id="f2-6"><label><input type="checkbox" name="product_type" value="Привязь">Привязь</label></li>
        <li id="f2-7"><label><input type="checkbox" name="product_type" value="Средства защиты втягивающего типа">Средства защиты втягивающего типа</label></li>
        <li id="f2-8"><label><input type="checkbox" name="product_type" value="Строп">Строп</label></li>
        <li id="f2-9"><label><input type="checkbox" name="product_type" value="Строп с амортизатором">Строп с амортизатором</label></li>
        <li id="f2-10"><label><input type="checkbox" name="product_type" value="Удерживающая привязь">Удерживающая привязь</label></li>
        <li id="f2-11"><label><input type="checkbox" name="product_type" value="Соединительные элементы">Соединительные элементы</label></li>
        <li id="f2-12"><label><input type="checkbox" name="product_type" value="Гибкая анкерная линия">Гибкая анкерная линия</label></li>
        <li id="f2-13"><label><input type="checkbox" name="product_type" value="Специальное снаряжение">Специальное снаряжение</label></li>
        <li id="f2-14"><label><input type="checkbox" name="product_type" value="Страховочные системы">Страховочные системы</label></li>
        <li id="f2-15"><label><input type="checkbox" name="product_type" value="Вспомогательное оборудование">Вспомогательное оборудование</label></li>
        <li id="f2-16"><label><input type="checkbox" name="product_type" value="Строительные пояса">Строительные пояса</label></li>
        <li id="f2-17"><label><input type="checkbox" name="product_type" value="Когти, Лазы">Когти, Лазы</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Особенности
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1"><label><input type="checkbox" name="features" value="Без пояса">Без пояса</label></li>
        <li id="f3-2"><label><input type="checkbox" name="features" value="1 рабочее плечо">1 рабочее плечо</label></li>
        <li id="f3-3"><label><input type="checkbox" name="features" value="2 рабочих плеча">2 рабочих плеча</label></li>
        <li id="f3-4"><label><input type="checkbox" name="features" value="Регулируемый">Регулируемый</label></li>
        <li id="f3-5"><label><input type="checkbox" name="features" value="Регулировка по длине ползункового типа">Регулировка по длине ползункового типа</label></li>
        <li id="f3-6"><label><input type="checkbox" name="features" value="С поясом">С поясом</label></li>
        <li id="f3-7"><label><input type="checkbox" name="features" value="1 точка крепления">1 точка крепления</label></li>
        <li id="f3-8"><label><input type="checkbox" name="features" value="2 точки крепления">2 точки крепления</label></li>
        <li id="f3-9"><label><input type="checkbox" name="features" value="3 точки крепления">3 точки крепления</label></li>
        <li id="f3-10"><label><input type="checkbox" name="features" value="4 точки крепления">4 точки крепления</label></li>
        <li id="f3-11"><label><input type="checkbox" name="features" value="5 точек крепления">5 точек крепления</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head">
        Защитные свойства
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"
             viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1"><label><input type="checkbox" name="protective_properties" value="Для безопасной оставки падения">Для безопасной оставки падения</label></li>
        <li id="f4-2"><label><input type="checkbox" name="protective_properties" value="для позиционирования">для позиционирования</label></li>
        <li id="f4-3"><label><input type="checkbox" name="protective_properties" value="Огнеупорный">Огнеупорный</label></li>
        <li id="f4-4"><label><input type="checkbox" name="protective_properties" value="Страховочный">Страховочный</label></li>
        <li id="f4-5"><label><input type="checkbox" name="protective_properties" value="Удерживающий">Удерживающий</label></li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    