
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1"><label><input type="checkbox" name="protective_properties" value="для защиты от растворов кислот и щелочей">для защиты от растворов кислот и щелочей</label></li>
        <li id="f1-2"><label><input type="checkbox" name="protective_properties" value="сигнальный">сигнальный</label></li>
        <li id="f1-3"><label><input type="checkbox" name="protective_properties" value="для защиты от воды">для защиты от воды</label></li>
        <li id="f1-4"><label><input type="checkbox" name="protective_properties" value="для защиты от нефти и нефтепродуктов">для защиты от нефти и нефтепродуктов</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1"><label><input type="checkbox" name="product_type" value="Костюм">Костюм</label></li>
        <li id="f2-2"><label><input type="checkbox" name="product_type" value="Плащ">Плащ</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1"><label><input type="checkbox" name="сomposition" value="100% ПЭ">100% ПЭ</label></li>
        <li id="f3-2"><label><input type="checkbox" name="сomposition" value="50%ХБ 50%ПЭ">50%ХБ 50%ПЭ</label></li>
        <li id="f3-3"><label><input type="checkbox" name="сomposition" value="100% ПЭ, ПВХ">100% ПЭ, ПВХ</label></li>
        <li id="f3-4"><label><input type="checkbox" name="сomposition" value="100% нейлон, ПВХ">100% нейлон, ПВХ</label></li>
        <li id="f3-5"><label><input type="checkbox" name="сomposition" value="ПВД">ПВД</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Класс защиты
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1"><label><input type="checkbox" name="protection_class" value="3 класс">3 класс</label></li>
        <li id="f4-2"><label><input type="checkbox" name="protection_class" value="1 класс">1 класс</label></li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    