
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Подкатегория
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1" class="sub_category">Противогазы и их комплектующие</li>
        <li id="f1-2" class="sub_category">Респираторы</li>
        <li id="f1-3" class="sub_category">Маски для лица одноразовые</li>
        <li id="f1-4" class="sub_category">Самоспасатели</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1" class="product_type">Противогазы</li>
        <li id="f2-2" class="product_type">Комплектующие к противогазам</li>
        <li id="f2-3" class="product_type">Фильтры к противогазам</li>
        <li id="f2-4" class="product_type">Респираторы</li>
        <li id="f2-5" class="product_type">Респираторы со сменными фильтрами</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Защитные свойства
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1" class="protective_properties">A органические соединения</li>
        <li id="f3-2" class="protective_properties">B неорганические соединения</li>
        <li id="f3-3" class="protective_properties">E кислые газы и пары</li>
        <li id="f3-4" class="protective_properties">Hg пары ртути</li>
        <li id="f3-5" class="protective_properties">K аммиак</li>
        <li id="f3-6" class="protective_properties">P аэрозоли</li>
        <li id="f3-7" class="protective_properties">Изолирующий</li>
        <li id="f3-8" class="protective_properties">FFP1 аэрозоли</li>
        <li id="f3-9" class="protective_properties">FFP2 аэрозоли</li>
        <li id="f3-10" class="protective_properties">FFP3 аэрозоли</li>
        <li id="f3-11" class="protective_properties">С дополнительной защитой от газов</li>
        <li id="f3-12" class="protective_properties">CO угарный газ</li>
        <li id="f3-13" class="protective_properties">NO оксиды азота</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Особенности
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1" class="features">Без клапана</li>
        <li id="f4-2" class="features">С клапаном</li>
        <li id="f4-3" class="features">Складные</li>
        <li id="f4-4" class="features">Со сменными фильтрами</li>
        <li id="f4-5" class="features">Формованные</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    