
<ul class="sidebar__list_filter_first">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1"><label><input type="checkbox" name="product_type" value="Жилет">Жилет</label></li>
        <li id="f2-2"><label><input type="checkbox" name="product_type" value="Костюм">Костюм</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1"><label><input type="checkbox" name="сomposition" value="100% ПЭ">100% ПЭ</label></li>
        <li id="f3-2"><label><input type="checkbox" name="сomposition" value="35%ХБ 65%ПЭ">35%ХБ 65%ПЭ</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_three-head"> 
        Класс защиты
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1"><label><input type="checkbox" name="protection_class" value="2 класс">2 класс</label></li>
        <li id="f4-2"><label><input type="checkbox" name="protection_class" value="2, 3 класс ТР ТС 019/2011">2, 3 класс ТР ТС 019/2011</label></li>
        <li id="f4-3"><label><input type="checkbox" name="protection_class" value="3 класс">3 класс</label></li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>