
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1"><label><input type="checkbox" name="protective_properties" value="От вибрации">От вибрации</label></li>
        <li id="f1-2"><label><input type="checkbox" name="protective_properties" value="От искр,брызг расплавленного металла,окалины">От искр,брызг расплавленного металла,окалины</label></li>
        <li id="f1-3"><label><input type="checkbox" name="protective_properties" value="От кислот и щелочей">От кислот и щелочей</label></li>
        <li id="f1-4"><label><input type="checkbox" name="protective_properties" value="От механических воздействий">От механических воздействий</label></li>
        <li id="f1-5"><label><input type="checkbox" name="protective_properties" value="От нефти и нефтепродуктов">От нефти и нефтепродуктов</label></li>
        <li id="f1-6"><label><input type="checkbox" name="protective_properties" value="От повышенных температур">От повышенных температур</label></li>
        <li id="f1-7"><label><input type="checkbox" name="protective_properties" value="От поражения электрическим током">От поражения электрическим током</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Класс зашиты
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1"><label><input type="checkbox" name="protection_class" value="1 класс">1 класс</label></li>
        <li id="f2-2"><label><input type="checkbox" name="protection_class" value="2 класс">2 класс</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Назначение
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1"><label><input type="checkbox" name="appointment" value="От вибрации">От вибрации</label></li>
        <li id="f3-2"><label><input type="checkbox" name="appointment" value="От искр,брызг расплавленного металла,окалины">От искр,брызг расплавленного металла,окалины</label></li>
        <li id="f3-3"><label><input type="checkbox" name="appointment" value="От кислот и щелочей">От кислот и щелочей</label></li>
        <li id="f3-4"><label><input type="checkbox" name="appointment" value="От механических воздействий">От механических воздействий</label></li>
        <li id="f3-5"><label><input type="checkbox" name="appointment" value="От нефти и нефтепродуктов">От нефти и нефтепродуктов</label></li>
        <li id="f3-6"><label><input type="checkbox" name="appointment" value="От повышенных температур">От повышенных температур</label></li>
        <li id="f3-7"><label><input type="checkbox" name="appointment" value="От поражения электрическим током">От поражения электрическим током</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Вид изделия
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1"><label><input type="checkbox" name="product_type" value="Перчатки">Перчатки</label></li>
        <li id="f4-2"><label><input type="checkbox" name="product_type" value="Нарукавники">Нарукавники</label></li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    