
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1"><label><input type="checkbox" name="protective_properties" value="От механических воздействий">От механических воздействий</label></li>
        <li id="f1-2"><label><input type="checkbox" name="protective_properties" value="От пониженных температур">От пониженных температур</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Материал
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1"><label><input type="checkbox" name="material" value="Спилок">Спилок</label></li>
        <li id="f2-2"><label><input type="checkbox" name="material" value="Спилок/ткань">Спилок/ткань</label></li>
        <li id="f2-3"><label><input type="checkbox" name="material" value="Кожа">Кожа</label></li>
        <li id="f2-4"><label><input type="checkbox" name="material" value="Кожа/ткань">Кожа/ткань</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Назначение
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1"><label><input type="checkbox" name="appointment" value="для защиты от механических воздействий">для защиты от механических воздействий</label></li>
        <li id="f3-2"><label><input type="checkbox" name="appointment" value="для защиты от пониженных температур">для защиты от пониженных температур</label></li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Особенности
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1"><label><input type="checkbox" name="features" value="Наладонник сукно">Наладонник сукно</label></li>
        <li id="f4-2"><label><input type="checkbox" name="features" value="Повышенная стойкость к порезам">Повышенная стойкость к порезам</label></li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    