
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1" class="protective_properties">Одежда из антистатической ткани</li>
        <li id="f1-2" class="protective_properties">Защита от нефти и нефтипродуктов</li>
        <li id="f1-3" class="protective_properties">Повышенные температуры,искры, брызги, расплавленный металл</li>
        <li id="f1-4" class="protective_properties">Наведенное напряжение</li>
        <li id="f1-5" class="protective_properties">Электрические дуги</li>
        <li id="f1-6" class="protective_properties">Кислоты и щелочи</li>
        <li id="f1-7" class="protective_properties">Защита  от воздействий цепной пилы</li>
        <li id="f1-8" class="protective_properties">Вредоностные биологических факторы</li>
        <li id="f1-9" class="protective_properties">Химические загрязнения</li>
        <li id="f1-10" class="protective_properties">С ограниченным сроком эксплуатации</li>

    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1" class="product_type">куртка</li>
        <li id="f2-2" class="product_type">брюки</li>
        <li id="f2-3" class="product_type">полукомбинезон</li>
        <li id="f2-4" class="product_type">комбинезон</li>
        <li id="f2-5" class="product_type">жилет</li>
        <li id="f2-6" class="product_type">халат</li>
        <li id="f2-7" class="product_type">костюм</li>
        <li id="f2-8" class="product_type">куртка и брюки</li>
        <li id="f2-9" class="product_type">куртка и полукомбинезон</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1" class="сomposition">65%ПЭ/35%ХБ</li>
        <li id="f3-2" class="сomposition">80%ХБ/20%ПЭ,антист.нить</li>
        <li id="f3-3" class="сomposition">95%ХБ/5%ПА, антистатическая нить</li>
        <li id="f3-4" class="сomposition">100% ПЭ</li>
        <li id="f3-5" class="сomposition">100% ХБ</li>
        <li id="f3-6" class="сomposition">23%ХБ 77%ПЭ</li>
        <li id="f3-7" class="сomposition">53%ХБ 47%ПЭ</li>
        <li id="f3-8" class="сomposition">35%ХБ 65%ПЭ</li>
        <li id="f3-9" class="сomposition">33%ХБ 67%ПЭ</li>
        <li id="f3-10" class="сomposition">60%ХБ/40%ПЭ</li>
        <li id="f3-11" class="сomposition">80%ХБ/20%ПЭ</li>
        <li id="f3-12" class="сomposition">20%ХБ/80%ПЭ</li>
        <li id="f3-13" class="сomposition">51%ХБ 49%ПЭ</li>
        <li id="f3-14" class="сomposition">100% ПА</li>
        <li id="f3-15" class="сomposition">80%ПЭ/20%ХБ</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Класс защиты
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1" class="protection_class">1 класс/li>
        <li id="f4-2" class="protection_class">2 класс</li>
        <li id="f4-3" class="protection_class">1-2 класс</li>
        <li id="f4-4" class="protection_class">3 класс</li>
    </ul>
    <button class="accept-filter">Применить фильтры</button>
</ul>
    