
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1">
            <label><input type="checkbox" name="protective_properties" value="Одежда из антистатической ткани">Одежда из антистатической ткани</label>
        </li>
        <li id="f1-2">
            <label><input type="checkbox" name="protective_properties" value="Защита от нефти и нефтипродуктов">Защита от нефти и нефтипродуктов</label>
        </li>
        <li id="f1-3">
            <label><input type="checkbox" name="protective_properties" value="Повышенные температуры,искры, брызги, расплавленный металл">Повышенные температуры,искры, брызги, расплавленный металл</label>
        </li>
        <li id="f1-4">
            <label><input type="checkbox" name="protective_properties" value="Наведенное напряжение">Наведенное напряжение</label>
        </li>
        <li id="f1-5">
            <label><input type="checkbox" name="protective_properties" value="Электрические дуги">Электрические дуги</label>
        </li>
        <li id="f1-6">
            <label><input type="checkbox" name="protective_properties" value="Кислоты и щелочи">Кислоты и щелочи</label>
        </li>
        <li id="f1-7">
            <label><input type="checkbox" name="protective_properties" value="Защита  от воздействий цепной пилы">Защита  от воздействий цепной пилы</label>
        </li>
        <li id="f1-8">
            <label><input type="checkbox" name="protective_properties" value="Вредоностные биологических факторы">Вредоностные биологических факторы</label>
        </li>
        <li id="f1-9">
            <label><input type="checkbox" name="protective_properties" value="Химические загрязнения">Химические загрязнения</label>
        </li>
        <li id="f1-10">
            <label><input type="checkbox" name="protective_properties" value="С ограниченным сроком эксплуатации">С ограниченным сроком эксплуатации</label>
        </li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Вид изделия
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1">
            <label><input type="checkbox" name="product_type" value="Куртка">Куртка</label>
        </li>
        <li id="f2-2">
            <label><input type="checkbox" name="product_type" value="Брюки">Брюки</label>
        </li>
        <li id="f2-3">
            <label><input type="checkbox" name="product_type" value="Полукомбинезон">Полукомбинезон</label>
        </li>
        <li id="f2-4">
            <label><input type="checkbox" name="product_type" value="Комбинезон">Комбинезон</label>
        </li>
        <li id="f2-5">
            <label><input type="checkbox" name="product_type" value="Жилет">Жилет</label>
        </li>
        <li id="f2-6">
            <label><input type="checkbox" name="product_type" value="Халат">Халат</label>
        </li>
        <li id="f2-7">
            <label><input type="checkbox" name="product_type" value="Костюм">Костюм</label>
        </li>
        <li id="f2-8">
            <label><input type="checkbox" name="product_type" value="Куртка и брюки">Куртка и брюки</label>
        </li>
        <li id="f2-9">
            <label><input type="checkbox" name="product_type" value="Куртка и полукомбинезон">Куртка и полукомбинезон</label>
        </li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Состав
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1">
            <label><input type="checkbox" name="сomposition" value="65%ПЭ/35%ХБ">65%ПЭ/35%ХБ</label>
        </li>
        <li id="f3-2">
            <label><input type="checkbox" name="сomposition" value="80%ХБ/20%ПЭ,антист.нить">80%ХБ/20%ПЭ,антист.нить</label>
        </li>
        <li id="f3-3">
            <label><input type="checkbox" name="сomposition" value="95%ХБ/5%ПА, антистатическая нить">95%ХБ/5%ПА, антистатическая нить</label>
        </li>
        <li id="f3-4">
            <label><input type="checkbox" name="сomposition" value="100% ПЭ">100% ПЭ</label>
        </li>
        <li id="f3-5">
            <label><input type="checkbox" name="сomposition" value="100% ХБ">100% ХБ</label>
        </li>
        <li id="f3-6">
            <label><input type="checkbox" name="сomposition" value="23%ХБ 77%ПЭ">23%ХБ 77%ПЭ</label>
        </li>
        <li id="f3-7">
            <label><input type="checkbox" name="сomposition" value="53%ХБ 47%ПЭ">53%ХБ 47%ПЭ</label>
        </li>
        <li id="f3-8">
            <label><input type="checkbox" name="сomposition" value="35%ХБ 65%ПЭ">35%ХБ 65%ПЭ</label>
        </li>
        <li id="f3-9">
            <label><input type="checkbox" name="сomposition" value="33%ХБ 67%ПЭ">33%ХБ 67%ПЭ</label>
        </li>
        <li id="f3-10">
            <label><input type="checkbox" name="сomposition" value="60%ХБ/40%ПЭ">60%ХБ/40%ПЭ</label>
        </li>
        <li id="f3-11">
            <label><input type="checkbox" name="сomposition" value="80%ХБ/20%ПЭ">80%ХБ/20%ПЭ</label>
        </li>
        <li id="f3-12">
            <label><input type="checkbox" name="сomposition" value="20%ХБ/80%ПЭ">20%ХБ/80%ПЭ</label>
        </li>
        <li id="f3-13">
            <label><input type="checkbox" name="сomposition" value="51%ХБ 49%ПЭ">51%ХБ 49%ПЭ</label>
        </li>
        <li id="f3-14">
            <label><input type="checkbox" name="сomposition" value="100% ПА">100% ПА</label>
        </li>
        <li id="f3-15">
            <label><input type="checkbox" name="сomposition" value="80%ПЭ/20%ХБ">80%ПЭ/20%ХБ</label>
        </li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Класс защиты
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1">
            <label><input type="checkbox" name="protection_class" value="1 класс">1 класс</label>
        </li>
        <li id="f4-2">
            <label><input type="checkbox" name="protection_class" value="2 класс">2 класс</label>
        </li>
        <li id="f4-3">
            <label><input type="checkbox" name="protection_class" value="1-2 класс">1-2 класс</label>
        </li>
        <li id="f4-4">
            <label><input type="checkbox" name="protection_class" value="3 класс">3 класс</label>
        </li>
    </ul>
    <!-- <button type="submit" class="accept-filter">Применить фильтры</button> -->
</ul>
<ul class="sidebar__list_filter_five">
    <p class="filter_first_five-head"> 
        Пол
        <svg class="filter_first_five-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_five-content filter">
        <li id="f5-1">
            <label><input type="checkbox" name="sex" value="Мужской">Мужской</label>
        </li>
        <li id="f5-2">
            <label><input type="checkbox" name="sex" value="Женский">Женский</label>
        </li>
    </ul>
    <button type="submit" class="accept-filter">Применить фильтры</button>
</ul>
    