
   <ul class="sidebar__list_filter_first">
    <p class="filter_first_one-head">
        Защитные свойства
        <svg class="filter_first_one-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_one-content filter">
        <li id="f1-1" class="protective_properties">От вибрации</li>
        <li id="f1-2" class="protective_properties">От искр,брызг расплавленного металла,окалины</li>
        <li id="f1-3" class="protective_properties">От кислот и щелочей</li>
        <li id="f1-4" class="protective_properties">От механических воздействий</li>
        <li id="f1-5" class="protective_properties">От нефти и нефтепродуктов</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_second">
    <p class="filter_first_two-head">    
        Подкладка
        <svg class="filter_first_two-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_two-content filter">
        <li id="f2-1" class="lining">двунитка</li>
        <li id="f2-2" class="lining">фланель</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_third">
    <p class="filter_first_four-head">
        Материал
        <svg class="filter_first_four-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_four-content filter">
        <li id="f3-1" class="material">Хлопок 100%</li>
        <li id="f3-2" class="material">Спилок</li>
        <li id="f3-3" class="material">Брезент ОП</li>
        <li id="f3-4" class="material">Саржа</li>
        <li id="f3-5" class="material">Двунитка</li>
    </ul>
</ul>
<ul class="sidebar__list_filter_fourth">
    <p class="filter_first_three-head"> 
        Особенности
        <svg class="filter_first_three-button" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
            <path fill="#767676" d="M8.833 1.917L5 5.75 1.167 1.917 0 3.083l5 5 5-5-1.167-1.167z"/>
        </svg>
    </p>
    <ul class="filter_first_three-content filter">
        <li id="f4-1" class="appointment">Наладонник брезент</li>
        <li id="f4-2" class="appointment">Наладонник ПВХ</li>
        <li id="f4-3" class="appointment">Наладонник саржа</li>
        <li id="f4-4" class="appointment">Наладонник спилок</li>
        <li id="f4-5" class="appointment">Наполнитель поролон</li>
        <li id="f4-6" class="appointment">Наполнитель Упругодемпфирующая подкладка</li>
        <li id="f4-7" class="appointment">Подналадонник брезент</li>
        <li id="f4-8" class="appointment">Подналадонник бязь</li>
        <li id="f4-9" class="appointment">Подналадонник саржа</li>
    </ul>
</ul>
    