{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<body>
    <div class="container container__card">
        <div class="card_title">
            Корзина
        </div>
        <div class="block__card">
            {% for item in cart.values %}
            {% with product=item.product %}
                    <div class="block__card_product">
                        <div class="block__card_product_img">
                            {% for key,value in img_url.items  %}
                                {% if key == product.name %}
                                    <img src="{{value.0}}" alt="1">               
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="block__card_product_info">
                            <a class="block__card_product_info_name" href="{{ product.get_absolute_url }}"></a>
                            <a href="{% url 'shop:product_detail' slug=product.slug ct_model=product.category.slug %}"><p class="block__card_product_info_name">{{ product.name }}</p></a>
                            <p class="block__card_product_info_article">Размер: <span>{{ item.size }}</span></p>
                        </div>
                        <div class="block__card_product_price">
                            <p class="price-for-one">
                                {{ product.price }}
                            </p>
                            <p class="multiply">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" viewBox="0 0 8 8">
                                    <path fill="#767676" d="M8 .943L7.057 0 4 3.057.943 0 0 .943 3.057 4 0 7.057.943 8 4 4.943 7.057 8 8 7.057 4.943 4 8 .943z"/>
                                </svg>
                            </p>
                            <!-- <div class="counter">
                                <p class="minus">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="2" fill="none" viewBox="0 0 12 2">
                                        <path fill="#767676" d="M12 .25H0v1.5h12V.25z"/>
                                    </svg>
                                </p>
                                <p class="count">
                                    {{ item.quantity }}
                                </p>
                                <p class="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
                                        <path fill="#3F3F3F" d="M6.749 5.251V0H5.25v5.251H0V6.75h5.251V12H6.75V6.749H12V5.25H6.749z"/>
                                    </svg>
                                </p>
                            </div> -->
                            <form action="">
                                <div class="counter">
                                    <span class="minus">
                                        <a href="{% url 'cart:add_product_count' ct_model=ct_model slug=product.slug type='minus' %}"></a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="2" fill="none" viewBox="0 0 12 2">
                                            <path fill="#767676" d="M12 .25H0v1.5h12V.25z"/>
                                        </svg>
                                    </span>
                                    <input class="count" type="text" value="{{ item.quantity }}">
                                    <span class="plus">
                                        <a href="{% url 'cart:add_product_count' ct_model=ct_model slug=product.slug type='plus' %}"></a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
                                            <path fill="#3F3F3F" d="M6.749 5.251V0H5.25v5.251H0V6.75h5.251V12H6.75V6.749H12V5.25H6.749z"/>
                                        </svg>
                                    </span>
                                </div>
                            </form>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" fill="none" viewBox="0 0 8 10">
                                    <path fill="#3F3F3F" d="M8 2.837H0v1.25h8v-1.25zM8 5.385H0v1.25h8v-1.25z"/>
                                </svg>
                            </p>
                            <p class="end_price_product">
                                {{ item.total_price }}
                            </p>
                            <p class="delete_product">
                                <a href="{% url "cart:cart_remove" product.id item.size%}">Убрать</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" viewBox="0 0 8 8">
                                    <path fill="#767676" d="M8 .943L7.057 0 4 3.057.943 0 0 .943 3.057 4 0 7.057.943 8 4 4.943 7.057 8 8 7.057 4.943 4 8 .943z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                <hr>
                {% endwith %}
        {% endfor %}
        </div>     
        <div class="block__card_order">
            <div class="block__card_order_info">
                <p class="desktop">Рекомендуем наличие товаров уточнять у менеджера</p>
                <p class="phone">Наличие товаров рекомендует уточнять</p>
            </div>
            <div class="block__card_order_end-price">
                    <span class="total-text">Итого:</span>
                    <span class="end-price">{{ total_price }}Р</span> 
            </div>
            <button class="block__card_order_append">
                <p>Оформить заказ</p>
            </button>
        </div>
    </div>

    <div class="block__append-order">
        <div class="container__append-order">
            <div class="block__append-order_title">
                <p>Оформить заказ</p>
                <p class="close">Закрыть</p>
            </div>
            <div class="block__append-order_form">
                <div class="data">
                    <form action="{% url 'cart:send_order' %}" method="get">
                        <label class="data__label">
                        <input type="text" name="name" placeholder="Ваше имя">
                        <input type="tel" name="phone" placeholder="Телефон">
                        <input type="email" name="email" placeholder="E-mail">
                        </label>
                        <p class="data__text">Нажимая на кнопку, Вы даете согласие на
                        <a href="">обработку персональных данных</a></p>
                        <button type="submit" class="data__button">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}