{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static "css/bundle.css" %}" />
  <title>{% block title %}Кубик{% endblock %}</title>
</head>
<body>
<div class="app">
  <header class="header">
    <ul class="header__list body-size">
      <li class="header__menu-mobile">
        <img class="header__menu-mobile_menu" data-button="menu-mobile" src="{% static "image/menu.svg" %}" alt="menu">
        <a href="{% url 'shop:main_page' %}"><img class="header__mobile" src="{% static "image/cubik.svg" %}" alt="logo"></a>
      </li>
      <li>
        <a href="{% url 'shop:main_page' %}">
          <img class="header__logo header__mobile_none_700" src="{% static "image/Logo.jpg" %}" alt="logo">
        </a>
      </li>
      <li data-hover="catalog" class="header__list_padding_first header__mobile_none">Каталог</li>
      <li class="header__mobile_none"><a href="{% url 'blog:blog_list' %}">Новости</a></li>
      <li class="header__mobile_none"><a href="{% url 'shop:payment_page' %}">Доставка и оплата</a></li>
      <li class="header__mobile_none"><a href="{% url 'shop:contact_page' %}">Контакты</a></li>
      <li class="header__phone-number header__mobile_none footer__list_ff">
        <a href="tel:+74997358283">+7 (499) 735-82-83</a>
        <a href="tel:+74997344058">+7 (499) 734-40-58</a>
      </li>
      <li class="header__display">
        <form action="{% url 'shop:search_results' %}" method="get" id="search_form">
          <label class="header__label">
            <input data-focus="input" name="q" class="header__label_bd" placeholder="Поиск" type="text">
              <svg  data-focus="loop" class="header__icon" width="16" height="16" viewBox="0 0 16 16" fill="#3F3F3F" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.8045 14.8626L11.2545 10.3126C12.1359 9.22399 12.6665 7.84066 12.6665 6.33401C12.6665 2.84205 9.82522 0.000732422 6.33325 0.000732422C2.84128 0.000732422 0 2.84202 0 6.33398C0 9.82595 2.84132 12.6673 6.33328 12.6673C7.83992 12.6673 9.22325 12.1366 10.3119 11.2553L14.8619 15.8052C14.9919 15.9352 15.1625 16.0006 15.3332 16.0006C15.5039 16.0006 15.6745 15.9352 15.8045 15.8052C16.0652 15.5446 16.0652 15.1232 15.8045 14.8626ZM6.33328 11.3339C3.57597 11.3339 1.33333 9.0913 1.33333 6.33398C1.33333 3.57667 3.57597 1.33403 6.33328 1.33403C9.0906 1.33403 11.3332 3.57667 11.3332 6.33398C11.3332 9.0913 9.09057 11.3339 6.33328 11.3339Z" fill="inherit"/>
              </svg>
          </label>
        </form>
        <a href="{% url 'cart:cart_detail' %}">
          <img src="{% static "image/shopping-cart.svg" %}" alt="shopping-cart">
        </a>
      </li>
    </ul>
    <div data-visible="second" class="header__position">
      <ul class="header__list header__list-two body-size">
        <li data-hover="overalls" class="header__list_padding">Спецодежда
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='summer_workwear' pagination=0 %}">Спецодежда летняя</a></li>
            <li><a href="{% url 'shop:category_detail' slug='medical_workwear' pagination=0 %}">Спецодежда медицинская</a></li>
            <li><a href="{% url 'shop:category_detail' slug='clothing_for_the_service_sector' pagination=0 %}">Одежда для сферы услуг</a></li>
            <li><a href="{% url 'shop:category_detail' slug='winter_workwear' pagination=0 %}">Спецодежда зимняя</a></li>
            <li><a href="{% url 'shop:category_detail' slug='protective_protective_workwear' pagination=0 %}">Спецодежда влагозащитная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='special_workwear' pagination=0 %}">Одежда специальная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='signal_workwear' pagination=0 %}">Спецодежда сигнальная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='protective_clothing_of_security_structures' pagination=0 %}">Спецодежда для охранных структур</a></li>
            <li><a href="{% url 'shop:category_detail' slug='hats' pagination=0 %}">Головные уборы</a></li>
            <li><a href="{% url 'shop:category_detail' slug='knitwearg' pagination=0 %}">Трикотаж</a></li>
          </ul>
        </li>
        <li data-hover="overalls" class="header__list_padding">Обувь
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='summer_shoes' pagination=0 %}">Обувь летняя,демисезонная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='insulated_shoes' pagination=0 %}">Обувь утепленная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='special_insulated_shoes' pagination=0 %}">Обувь специальная, утепленная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='pvc_rubber_shoes' pagination=0 %}">Обувь резиновая ПВХ</a></li>
            <li><a href="{% url 'shop:category_detail' slug='casual_walking_shoes' pagination=0 %}">Обувь повседневная, прогулочная</a></li>
            <li><a href="{% url 'shop:category_detail' slug='medical_shoes' pagination=0 %}">Обувь медицинская</a></li>
            <li><a href="{% url 'shop:category_detail' slug='shoe_accessories' pagination=0 %}">Аксессуары для обуви</a></li>
          </ul>
        </li>
        <li data-hover="overalls" class="header__list_padding">Средства индивидуальной защиты
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='head_and_face_protection_products' pagination=0 %}">Средства защиты головы и лица</a></li>
            <li><a href="{% url 'shop:category_detail' slug='means_of_protection_of_the_organs_of_vision' pagination=0 %}">Средства защиты органов зрения</a></li>
            <li><a href="{% url 'shop:category_detail' slug='protective_equipment_during_welding_operations' pagination=0 %}">Средства защиты при проведении сварочных работ</a></li>
            <li><a href="{% url 'shop:category_detail' slug='hearing_protection_equipment' pagination=0 %}">Средства защиты органов слуха</a></li>
            <li><a href="{% url 'shop:category_detail' slug='respiratory_protection_equipment' pagination=0 %}">Средства защиты органов дыхания</a></li>
            <li><a href="{% url 'shop:category_detail' slug='protective_equipment_during_highrise_works' pagination=0 %}">Средства защиты при проведении высотных работ</a></li>
            <li><a href="{% url 'shop:category_detail' slug='clothing_with_limited_service_life' pagination=0 %}">Одежда с ограниченным сроком эксплуатации</a></li>
            <li><a href="{% url 'shop:category_detail' slug='dielectric_safety_devices' pagination=0 %}">Диэлектрические средства безопасности</a></li>
          </ul>
        </li>
        <li data-hover="overalls" class="header__list_padding">Защита рук
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='knitted_gloves' pagination=0 %}">Перчатки трикотажные</a></li>
            <li><a href="{% url 'shop:category_detail' slug='wool_blend_gloves' pagination=0 %}">Перчатки полушерстяные</a></li>
            <li><a href="{% url 'shop:category_detail' slug='split_gloves_combined' pagination=0 %}">Перчатки спилковые, комбинированные</a></li>
            <li><a href="{% url 'shop:category_detail' slug='kragi_vachegi' pagination=0 %}">Краги, вачеги</a></li>
            <li><a href="{% url 'shop:category_detail' slug='specialized_gloves' pagination=0 %}">Перчатки специализированные</a></li>
            <li><a href="{% url 'shop:category_detail' slug='household_gloves_disposable' pagination=0 %}">Перчатки хозяйственные, одноразовые</a></li>
            <li><a href="{% url 'shop:category_detail' slug='working_gloves' pagination=0 %}">Рукавицы рабочие</a></li>
            <li><a href="{% url 'shop:category_detail' slug='insulated_mittens' pagination=0 %}">Рукавицы утепленные</a></li>
          </ul>
        </li>
        <li data-hover="overalls" class="header__list_padding">Постельные принадлежности
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='bed_linen_sets' pagination=0 %}">Комплекты постельного белья</a></li>
            <li><a href="{% url 'shop:category_detail' slug='mattresses' pagination=0 %}">Матрасы</a></li>
            <li><a href="{% url 'shop:category_detail' slug='blankets' pagination=0 %}">Одеяла</a></li>
            <li><a href="{% url 'shop:category_detail' slug='pillows' pagination=0 %}">Подушки</a></li>
            <li><a href="{% url 'shop:category_detail' slug='bedspreads_blankets' pagination=0 %}">Покрывала, пледы</a></li>
            <li><a href="{% url 'shop:category_detail' slug='waffle_towels' pagination=0 %}">Полотенца вафельные</a></li>
            <li><a href="{% url 'shop:category_detail' slug='terry_towels' pagination=0 %}">Полотенца махровые</a></li>
          </ul>
        </li>
        <li data-hover="overalls" class="header__list_padding">Инструменты и хоз. инвентарь
          <ul class="header__list-three">
            <li><a href="{% url 'shop:category_detail' slug='technical_fabrics' pagination=0%}">Технические ткани</a></li>
            <li><a href="{% url 'shop:category_detail' slug='detergents_and_household_chemicals' pagination=0%}">Моющие средства и бытовая химия</a></li>
            <li><a href="{% url 'shop:category_detail' slug='firefighting_equipment_fire_extinguishers' pagination=0%}">Противопожарные средства,огнетушители</a></li>
            <li><a href="{% url 'shop:category_detail' slug='protective_equipment' pagination=0%}">Оградительные средства</a></li>
            <li><a href="{% url 'shop:category_detail' slug='household_goods' pagination=0%}">Хозяйственные товары</a></li>
            <li><a href="{% url 'shop:category_detail' slug='snow_removal_equipment' pagination=0%}">Снегоуборочный инвентарь</a></li>
            <li><a href="{% url 'shop:category_detail' slug='gardening_tools' pagination=0%}">Садово-огородный инвентарь</a></li>
            <li><a href="{% url 'shop:category_detail' slug='bristle_and_brush_products' pagination=0%}">Щетинно щеточные изделия</a></li>
          </ul>
        </li>
      </ul>
      <div class="header__background"></div>
    </div>
  </header>
  <header class="header-mobile">
    <div data-button="header-back" class="header-mobile_back">
      <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
      Закрыть
    </div>
    <ul class="list">
      <a href="{% url 'blog:blog_list' %}">
        <li class="list__li">Новости</li>
      </a>
      <a href="{% url 'shop:contact_page' %}">
        <li class="list__li">Контакты</li>
      </a>
      <li>
        <p data-button="list_2" class="list__li">Cпецодежда</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='summer_workwear' pagination=0%}"><li class="list__li_2">Спецодежда летняя</li></a>
          <a href="{% url 'shop:category_detail' slug='medical_workwear' pagination=0%}"><li class="list__li_2">Спецодежда медицинская</li></a>
          <a href="{% url 'shop:category_detail' slug='clothing_for_the_service_sector' pagination=0%}"><li class="list__li_2">Одежда для сферы услуг</li></a>
          <a href="{% url 'shop:category_detail' slug='winter_workwear' pagination=0%}"><li class="list__li_2">Спецодежда зимняя</li></a>
          <a href="{% url 'shop:category_detail' slug='protective_protective_workwear' pagination=0%}"><li class="list__li_2">Спецодежда влагозащитная</li></a>
          <a href="{% url 'shop:category_detail' slug='special_workwear' pagination=0%}"><li class="list__li_2">Одежда специальная</li></a>
          <a href="{% url 'shop:category_detail' slug='signal_workwear' pagination=0%}"><li class="list__li_2">Спецодежда сигнальная</li></a>
          <a href="{% url 'shop:category_detail' slug='protective_clothing_of_security_structures' pagination=0%}"><li class="list__li_2">Спецодежда для охранных структур</li></a>
          <a href="{% url 'shop:category_detail' slug='hats' pagination=0%}"><li class="list__li_2">Головные уборы</li></a>
          <a href="{% url 'shop:category_detail' slug='knitwearg' pagination=0%}"><li class="list__li_2">Трикотаж</li></a>
        </ul>
      </li>
      <li class="list__li">
        <p data-button="list_2" class="list__li">Обувь</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='summer_shoes' pagination=0%}"><li class="list__li_2">Обувь летняя,демисезонная</li></a>
          <a href="{% url 'shop:category_detail' slug='insulated_shoes' pagination=0%}"><li class="list__li_2">Обувь утепленная</li></a>
          <a href="{% url 'shop:category_detail' slug='special_insulated_shoes' pagination=0%}"><li class="list__li_2">Обувь специальная, утепленная</li></a>
          <a href="{% url 'shop:category_detail' slug='pvc_rubber_shoes' pagination=0%}"><li class="list__li_2">Обувь резиновая ПВХ</li></a>
          <a href="{% url 'shop:category_detail' slug='casual_walking_shoes' pagination=0%}"><li class="list__li_2">Обувь повседневная, прогулочная</li></a>
          <a href="{% url 'shop:category_detail' slug='medical_shoes' pagination=0%}"><li class="list__li_2">Обувь медицинская</li></a>
          <a href="{% url 'shop:category_detail' slug='shoe_accessories' pagination=0%}"><li class="list__li_2">Аксессуары для обуви</li></a>
        </ul>
      </li>
      <li class="list__li">
        <p data-button="list_2" class="list__li">Средства индивидуальной защиты</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='head_and_face_protection_products' pagination=0%}"><li class="list__li_2">Средства защиты головы и лица</li></a>
          <a href="{% url 'shop:category_detail' slug='means_of_protection_of_the_organs_of_vision' pagination=0%}"><li class="list__li_2">Средства защиты органов зрения</li></a>
          <a href="{% url 'shop:category_detail' slug='protective_equipment_during_welding_operations' pagination=0%}"><li class="list__li_2">Средства защиты при проведении сварочных работ</li></a>
          <a href="{% url 'shop:category_detail' slug='hearing_protection_equipment' pagination=0%}"><li class="list__li_2">Средства защиты органов слуха</li></a>
          <a href="{% url 'shop:category_detail' slug='respiratory_protection_equipment' pagination=0%}"><li class="list__li_2">Средства защиты органов дыхания</li></a>
          <a href="{% url 'shop:category_detail' slug='protective_equipment_during_highrise_works' pagination=0%}"><li class="list__li_2">Средства защиты при проведении высотных работ</li></a>
          <a href="{% url 'shop:category_detail' slug='clothing_with_limited_service_life' pagination=0%}"><li class="list__li_2">Одежда с ограниченным сроком эксплуатации</li></a>
          <a href="{% url 'shop:category_detail' slug='dielectric_safety_devices' pagination=0%}"><li class="list__li_2">Диэлектрические средства безопасности</li></a>
        </ul>
      </li>
      <li class="list__li">
        <p data-button="list_2" class="list__li">Защита рук</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='knitted_gloves' pagination=0%}"><li class="list__li_2">Перчатки трикотажные</li></a>
          <a href="{% url 'shop:category_detail' slug='wool_blend_gloves' pagination=0%}"><li class="list__li_2">Перчатки полушерстяные</li></a>
          <a href="{% url 'shop:category_detail' slug='split_gloves_combined' pagination=0%}"><li class="list__li_2">Перчатки спилковые, комбинированные</li></a>
          <a href="{% url 'shop:category_detail' slug='kragi_vachegi' pagination=0%}"><li class="list__li_2">Краги, вачеги</li></a>
          <a href="{% url 'shop:category_detail' slug='specialized_gloves' pagination=0%}"><li class="list__li_2">Перчатки специализированные</li></a>
          <a href="{% url 'shop:category_detail' slug='household_gloves_disposable' pagination=0%}"><li class="list__li_2">Перчатки хозяйственные, одноразовые</li></a>
          <a href="{% url 'shop:category_detail' slug='working_gloves' pagination=0%}"><li class="list__li_2">Рукавицы рабочие</li></a>
          <a href="{% url 'shop:category_detail' slug='insulated_mittens' pagination=0%}"><li class="list__li_2">Рукавицы утепленные</li></a>
        </ul>
      </li>
      <li class="list__li">
        <p data-button="list_2" class="list__li">Инструменты и хоз. инвентарь</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='technical_fabrics' pagination=0 %}"><li class="list__li_2">Технические ткани</li></a>
          <a href="{% url 'shop:category_detail' slug='detergents_and_household_chemicals' pagination=0 %}"><li class="list__li_2">Моющие средства и бытовая химия</li></a>
          <a href="{% url 'shop:category_detail' slug='firefighting_equipment_fire_extinguishers' pagination=0 %}"><li class="list__li_2">Противопожарные средства,огнетушители</li></a>
          <a href="{% url 'shop:category_detail' slug='protective_equipment' pagination=0 %}"><li class="list__li_2">Оградительные средства</li></a>
          <a href="{% url 'shop:category_detail' slug='household_goods' pagination=0 %}"><li class="list__li_2">Хозяйственные товары</li></a>
          <a href="{% url 'shop:category_detail' slug='snow_removal_equipment' pagination=0 %}"><li class="list__li_2">Снегоуборочный инвентарь</li></a>
          <a href="{% url 'shop:category_detail' slug='gardening_tools' pagination=0 %}"><li class="list__li_2">Садово-огородный инвентарь</li></a>
          <a href="{% url 'shop:category_detail' slug='bristle_and_brush_products' pagination=0 %}"><li class="list__li_2">Щетинно щеточные изделия</li></a>
        </ul>
      </li>
      <li class="list__li">
        <p data-button="list_2" class="list__li">Постельные принадлежности</p>
        <ul class="list_2">
          <li data-button="header-back" class="header-mobile_back header-mobile__bd">
            <img src="{% static "image/arrow-back.svg" %}" alt="arrow">
            Назад
          </li>
          <a href="{% url 'shop:category_detail' slug='bed_linen_sets' pagination=0 %}"><li class="list__li_2">Комплекты постельного белья</li></a>
          <a href="{% url 'shop:category_detail' slug='mattresses' pagination=0 %}"><li class="list__li_2">Матрасы</li></a>
          <a href="{% url 'shop:category_detail' slug='blankets' pagination=0 %}"><li class="list__li_2">Одеяла</li></a>
          <a href="{% url 'shop:category_detail' slug='pillows' pagination=0 %}"><li class="list__li_2">Подушки</li></a>
          <a href="{% url 'shop:category_detail' slug='bedspreads_blankets' pagination=0 %}"><li class="list__li_2">Покрывала, пледы</li></a>
          <a href="{% url 'shop:category_detail' slug='waffle_towels' pagination=0 %}"><li class="list__li_2">Полотенца вафельные</li></a>
          <a href="{% url 'shop:category_detail' slug='terry_towels' pagination=0 %}"><li class="list__li_2">Полотенца махровые</li></a>
        </ul>
      </li>
      <a href="">
        <li class="list__li">Корзина</li>
      </a>
      <a href="{% url 'shop:payment_page' %}">
        <li class="list__li">Доставка и оплата</li>
      </a>
    </ul>
    <div class="phone">
      <a href="tel:+74997358283">+7 (499) 735-82-83</a>
      <a href="tel:+74997344058">+7 (499) 734-40-58</a>
    </div>
    <div class="link">
      <a href="">sale@cubik.ru</a>
      <a href="">Instagram</a>
      <a href="">Facebook</a>
    </div>
  </header>
  {% block content %}{% endblock %}
  <footer class="footer-color">
    <div class="footer body-size">
      <ul class="footer__block">
        <li class="footer__list_main">Каталог</li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='summer_workwear' pagination=0 %}">Летняя спецодежда</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='winter_workwear' pagination=0 %}">Зимняя спецодежда</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='summer_shoes' pagination=0 %}">Обувь летняя</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='casual_walking_shoes' pagination=0 %}">Обувь повседневная</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='head_and_face_protection_products' pagination=0 %}">Средства защиты головы и лица</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='household_goods' pagination=0 %}">Иструменты и хоз. инвентарь</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='bed_linen_sets' pagination=0 %}">Постельные принадлежности</a></li>
        <li class="footer__list footer__link"><a href="{% url 'shop:category_detail' slug='dermatological_agents' pagination=0 %}">Дерматологические средства</a></li>
      </ul>
      <ul class="footer__block">
        <li class="footer__list_main">Контакты</li>
        <li class="footer__link footer__list footer__list_ff"><a href="tel:+74997358283">+7 (499) 735-82-83</a></li>
        <li class="footer__link footer__list footer__list_ff"><a href="tel:+74997344058">+7 (499) 734-40-58</a></li>
        <li class="footer__list footer__list_margin-bottom footer__list_font-size footer__list_ff">ПН-ПТ 9:00-17:30</li>
        <li class="footer__list footer__list_margin-bottom footer__list_font-size footer__list_fw">г. Москва, г. Зеленоград,
          2-ой Западный проезд, дом 4, строение 1
        </li>
        <li class="footer__link footer__list footer__list_margin-bottom_5"><a href="">sale@cubik.ru</a></li>
        <li class="footer__link footer__list footer__list_margin-bottom_5"><a href="">Instagram</a></li>
        <li class="footer__link footer__list footer__list_margin-bottom_5"><a href="">Facebook</a></li>
      </ul>
      <ul class="footer__block">
        <li class="footer__list">
          <label class="footer__list_label">
            <input type="text" placeholder="Поиск">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="#767676" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.8045 14.8626L11.2545 10.3126C12.1359 9.22399 12.6665 7.84066 12.6665 6.33401C12.6665 2.84205 9.82522 0.000732422 6.33325 0.000732422C2.84128 0.000732422 0 2.84202 0 6.33398C0 9.82595 2.84132 12.6673 6.33328 12.6673C7.83992 12.6673 9.22325 12.1366 10.3119 11.2553L14.8619 15.8052C14.9919 15.9352 15.1625 16.0006 15.3332 16.0006C15.5039 16.0006 15.6745 15.9352 15.8045 15.8052C16.0652 15.5446 16.0652 15.1232 15.8045 14.8626ZM6.33328 11.3339C3.57597 11.3339 1.33333 9.0913 1.33333 6.33398C1.33333 3.57667 3.57597 1.33403 6.33328 1.33403C9.0906 1.33403 11.3332 3.57667 11.3332 6.33398C11.3332 9.0913 9.09057 11.3339 6.33328 11.3339Z"
                    fill="inherit"/>
            </svg>
          </label>
        </li>
        <li class="footer__link footer__list footer__list_font-size_15"><a href="{% url 'blog:blog_list' %}">Блог</a></li>
      </ul>
      <hr class="footer__line">
      <div class="footer__link footer__list_text footer__list footer__list_color"><a href="">Политика конфиденциальности</a></div>
      <div class="footer__link footer__list_text footer__list footer__list_color"><a href="">Публичкая оферта</a></div>
      <div class="footer__list footer__list_text_2 footer__list_margin footer__list_margin">
        <p class="footer__list_color">Дизайнено в Sixty6</p>
        <p class="footer__list_color">Программирование Yagoodco</p>
      </div>
    </div>
    <div class="footer-mobile">
      <p class="footer__list_main footer__padding">Контакты</p>
      <div class="list footer__padding">
        <div class="footer__link list_phone footer__list_ff">
          <a href="tel:+74997358283">+7 (499) 735-82-83</a>
          <a href="tel:+74997344058">+7 (499) 734-40-58</a>
          <p>ПН-ПТ  9:00-17:30</p>
        </div>
        <div class="list_link footer__link">
          <a href="">Instagram</a>
          <a href="">Facebook</a>
        </div>
      </div>
      <div class="footer__link footer__padding footer-mobile_link">
        <a href="">sale@cubik.ru</a>
      </div>
      <div class="footer__link footer__padding list_source footer__list_margin-bottom">
        <a href="">Политика конфиденциальности</a>
        <a href="">Публичная оферта</a>
      </div>
      <hr class="footer__hr footer__list_margin-bottom">
      <div class="author">
        <p>Дизайнено в Sixty6</p>
        <p>Программирование Yagoodco</p>
      </div>
    </div>
  </footer>
</div>
</body>
<script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
</html>
