{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Кубик | Контакты
{% endblock %}
{% block content %}
<body>
<div class="app">
  <div class="contact body-size">
    <div class="contact__margin_mobile">
      <div class="contact__font-size_20 contact__margin">Контакты</div>
      <div class="contact__grid contact__margin_30 contact__font-size_18">
        <a href="tel:+74997358283">+7 (499) 735-82-83</a>
        <a href="tel:+74997344058">+7 (499) 734-40-58</a>
      </div>
      <div class="contact__font-size_16">ПН-ПТ 9:00-17:30</div>
    </div>
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab969557d5ae10ce2d614226c32f8057adc0e84e711a0e6e5de9b425d2935b77b&amp;source=constructor" width="770" height="450" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    <div class="contact__margin_mobile contact__margin_70">
      <div class="contact__font-size_16 contact__code">124460</div>
      <div class="contact__font-size_14 contact__white-space contact__margin_70">г. Москва, г. Зеленоград,
        2-ой Западный проезд, дом 4, строение 1 </div>
      <div class="contact__margin_10 contact__font-size_16"><a href="">sale@cubik.ru</a></div>
      <div class="contact__margin_10 contact__font-size_16"><a href="">Instagram</a></div>
      <div class="contact__font-size_16"><a href="">Facebook</a></div>
    </div>
    <div class="contact__font-size_20 contact__margin_30 contact__margin_mobile">Как добраться из Москвы</div>
    <div class="contact__font-size_14 contact__margin_20 contact__white-space contact__margin_mobile">От ст. метро «Речной вокзал» автобусом №400 до остановки «Березка», либо маршрутным такси №431, №476, №400К до остановки «Дом мебели».

      От Ленинградского вокзала электричкой до ст. «Крюково».
      Далее автобусами №№1, 10, 12, 13, 23 до остановки «Дом мебели».
    </div>
    <div class="contact__font-size_20 contact__margin_30 contact__margin_mobile">Наши реквизиты</div>
    <div class="contact__font-size_14 contact__our contact__margin_mobile">
      <p>Общество с ограниченной ответственностью «Торговый Дом «Кубик»</p>
      <p>ООО «ТД «Кубик»</p>
      <p>ИНН 7735578626</p>
      <p>КПП 773501001</p>
      <p>Юридический адрес: 124460, Москва, г. Зеленоград, 2-ой Западный проезд, д.4 стр. 1</p>
      <p>Р/с 40702810200410001411</p>
      <p>БИК 044525411</p>
      <p>К/с 30101810145250000411</p>
      <p>ОГРН 1117746488210</p>
      <p class="contact__margin_10">Код по ОКПО 92526885</p>
      <p>Генеральный директор Косарева Светлана Матвеевна</p>
    </div>
  </div>
</div>
</body>
{% endblock %}
