<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static "css/bundle.css" %}" />
  <title>Error</title>
</head>
<body>
<div class="app">
  <div class="error">
    <div class="error__code error__margin">404</div>
    <div class="error__text error__margin_40">ОЙ! Похоже мы не можем найти нужную страницу</div>
    <div class="error__text_size error__margin_5">Проверьте правильность введеного вами адреса</div>
    <div class="error__text_size error__text_size_mobile">Или попробуйте вернуться на <a class="error__link">Главную</a></div>
  </div>
</div>
</body>
<script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
<script type="text/javascript" src="{% static "js/bundle.js.map" %}"></script>
</html>
