{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Кубик | Доставка и оплата
{% endblock %}
{% block content %}
<body>
<div class="app">
  <div class="payment">
    <div class="main__description main__margin body-size">
      <div class="main__name payment__name main__name_margin main__margin_mobile">Оплатите заказ удобным для вас способом</div>
      <ul class="list main__margin_mobile">
        <li class="list__li">
          <p class="main__h3 payment__h3 main__size_24">Наличными</p>
          <p class="main__text">
            Оплата наличными происходит после получения заказа. У вас есть возможность примерить вещи до оплаты заказа.
          </p>
        </li>
        <li class="list__li">
          <p class="main__h3 payment__h3 main__size_24">Оплата банковской картой.</p>
          <p class="main__text">
            Для вашего удобства мы принимаем к оплате банковские карты платежных систем
          </p>
        </li>
        <li class="list__li">
          <p class="main__h3 payment__h3 main__size_24">Переводом на счет</p>
          <p class="main__text">
            Оплата по счету производится в течении 5 рабочих дней с момента его выставления. Вся необходимая закрывающая документация будет предоставлена в момент передачи заказа.
          </p>
        </li>
      </ul>
    </div>
    <div class="main__why main__margin body-size">
      <p class="main__name payment__name main__margin_mobile main__name_margin">Доставка</p>
      <div class="main__why_grid main__bd-t">
        <p class="main__h3 payment__h3">Собственный автопарк</p>
        <p class="main__text">
          Мы предоставляем услуги доставки по г.Москве и ближайшему Подмосковью с помощью собственного автопарка. Стоимость и сроки доставки уточняйте у менеджера по телефону.
        </p>
      </div>
      <div class="main__why_grid main__bd-t">
        <p class="main__h3 payment__h3">Курьерская служба</p>
        <p class="main__text">
          Мы доставляем оформленные заказы по территории России курьерскими службами на Ваш выбор. Стоимость и сроки доставки уточняйте у менеджера по телефону.
        </p>
      </div>
      <div class="main__why_grid main__bd-t main__bd-b">
        <p class="main__h3 payment__h3">Самовывоз</p>
        <p class="main__text">
          Также Вы можете забрать заказ у нас со склада по адресу г.Зеленоград, 2-ой Западный проезд, д.4, стр. 1
        </p>
      </div>
    </div>
    <div class="main__color">
      <div class="main__request main__margin main__margin_mobile body-size">
        <div class="main__name payment__name main__name_margin main__request_size">Запросить прайс-лист</div>
        <div class="data main__request_size">
          <label class="data__label">
            <input type="text" placeholder="Ваше имя">
            <input type="tel" placeholder="Телефон">
            <input type="email" placeholder="E-mail">
          </label>
          <p class="data__text">Нажимая на кнопку, Вы даете согласие на
            <a href="">обработку персональных данных</a></p>
          <button class="data__button">Запросить прайс-лист</button>
        </div>
        <div class="main__request_contact">
          <div class="number">
            <a href="tel:+74997358283">+7 (499) 735-82-83</a>
            <a href="tel:+74997344058">+7 (499) 734-40-58</a>
          </div>
          <div class="time">ПН-ПТ  9:00-17:30</div>
          <div class="address">
            <p>124460</p>
            <p class="address__text">г. Москва, г. Зеленоград,
              2-ой Западный проезд, дом 4, строение 1 </p>
          </div>
          <div class="link">
            <a href="">sale@cubik.ru</a>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
