
    <div class="block__product_info block__product_info_second">
        <p class="block__product_info_title">Информация о товаре</p>
        <p class="block__product_info_text" style="text-decoration: underline;">{{ product.name }}</p>
        <div class="block__product_info_second_top">
            <p class="block__product_info_text"> {{ product.description|linebreaksbr }} </p>
        </div>
        <p class="block__product_info_title">Подкатегория</p>
        <div class="block__product_info_second_top">
            <p class="block__product_info_text"> {{ product.sub_category }} </p>
        </div>
        
    </div>

    <div class="block__product_info block__product_info_third">
    <div class="block__product_info_third_product_type">
        <p class="block__product_info_title">Вид изделия</p>
        <ul class="block__product_info_text">
            <li>{{ product.product_type }}</li>
        </ul>
    </div>
    <div class="block__product_info_third_protective_properties">
        <p class="block__product_info_title">Защитные свойства</p>
        <ul class="block__product_info_text">
            <li>{{ product.protective_properties }}</li>
        </ul>
    </div>
    </div>
    