
    <div class="block__product_info block__product_info_second">
        <p class="block__product_info_title">Информация о товаре</p>
        <p class="block__product_info_text" style="text-decoration: underline;">{{ product.name }}</p>
        <div class="block__product_info_second_top">
            <p class="block__product_info_text"> {{ product.description }} </p>
        </div>
    </div>

    <div class="block__product_info block__product_info_third">
    <div class="block__product_info_third_material">
        <p class="block__product_info_title">Подкатегория</p>
        <ul class="block__product_info_text">
            <li>{{ product.sub_category }}</li>
        </ul>
    </div>
    </div>
    